body {
    padding-top: 5rem;
    padding-top: 56px;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .form-control-file{
      box-sizing: border-box;
      border: black;
      background-color: rgb(199, 197, 197);
  }


  div.box {
    width: 150px;
    display: inline-block;
    
}
.images-produtos{
  text-align: center;
}

.Arrow{
  display: flex;
 
}

.Detalhes_Produto{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.rating-box__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    font-family: "Source Sans Pro";
    color: inherit;
    text-transform: uppercase;
}

.rating-box__value {
    display: block;
    float: left;
    margin-right: 5px;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    font-family: "Source Sans Pro";
    color: #333;
    
}

h11 {
    color:red;
}



.panel-body{
    font-size: 150%
}